.footer {
    background-color: #3A6EBD;
    opacity: 0.8;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    height: 20px;
    font-size: small;
}